/* Root belangrijkste deel */
:root{
    --pink: #e84393;
}


*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
} 

html{
    font-size: 62,5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
padding: 2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #333;
    padding: 1rem;
    margin: 2rem 0;
    background: rgb(255, 51, 153,.05);
}






.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:var(--pink);
}


header{
    position: fixed;
    top:0; left:0; right: 0;
    background: #e3c0d8;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    width: 75px;    
    cursor: pointer;
}

header  .navbar a{
    font-size: 1rem;
    padding: 0 1.5rem;
    color: #666;
}

header  .navbar a:hover{
    color:var(--pink);
}

header  .icons a{
    font-size: 1.5rem;
    color: #333;
    margin-left: 1.5rem
}

header  .icons a:hover{
    color:var(--pink);
}

header  #toggler{
    display: none;
}

header .fa-bars{
    font-size: 2rem;
    color: #333;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    cursor: pointer;
    border:.1rem solid rgba(0,0,0,.3);
    display: none;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url(images/hero4.png);
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 4rem;
    color:#333;
}

.home .content span{
    font-size: 3rem;
    color:var(--pink);
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color:#333;
    padding: 1rem 0;
    line-height: 1.5;
}


/* media queries voor mobiel */ 
@media (max-width:991px) {

    html{
        font-size: 55%;
    }

    header {
        padding:2rem;
    }

    section{
        padding:2rem;
    }

    .home{
    background-position: left;


    }

}

.announcement-bar {
  position: sticky;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  top: 140px;
}

.announcement-bar p {
  margin: 0;
  font-weight: bold;

}

@media (max-width: 767px) {
  .announcement-bar {
    top: 110px; /* Adjust the top position for mobile screens */
    font-size: 14px; /* Reduce the font size for mobile screens */
  }
}


@media (max-width:768px){
  header .fa-bars{
        display: block;
     }

     header  .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background: #e3c0d8;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        }
        header  #toggler:checked ~ .navbar{
            clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }

        header  .navbar a{
        margin: 1.5rem;
        padding:1.5rem;
        font-weight: bold;
        background: #fff;
        border: .1rem solid rgba(0,0,0,.1);
        display: block; 
        }

        .home .content h3{
            font-size: 5rem;
        }

        .home .content span{
            font-size: 2.5rem;

        }


        @media (max-width:450px) {

            html{
                font-size: 50%;
            }
        
        }


        }

      .products .box-container{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
      }  

      .products .box-container .box{
        flex:1 1 30rem;
        box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
        border-radius: .5rem;
        border:.1rem solid rgba(0,0,0,.1);
        position: relative;
      }

      .products .box-container .box .image{
        position: relative;
        text-align: center;
        padding-top: 2rem;
        overflow: hidden;

      }

      .products .box-container .box .image img{
        height: 25rem;
      }

      .products .box-container .box:hover .image img{
        transform: scale(1.1);
      }

      .products .box-container .box .image .icons{
        position: absolute;
        bottom: -7rem; left: 0; right: 0;
        display: flex;
      }

      .products .box-container .box:hover .image .icons{
        bottom: 0;


      }



      .products .box-container .box .image .icons a{
        height: 5rem;
        line-height: 5rem;
        font-size: 2rem;
        width: 50%;
        background:var(--pink);
        color:#fff;
      }

      .products .box-container .box .image .icons .cart-btn{
        border-left: 1.re, solid #fff7;
        border-right: 1.re, solid #fff7;
        width: 100%;
      }

      .products .box-container .box .image .icons a:hover{
        background: #333;
      }

      .products .box-container .box .content{
        padding: 2rem;
        text-align: center;
      }

      .products .box-container .box .content h3{
        font-size: 2.5rem;
        color:#333
      }

      .products .box-container .box .content .price{
        font-size: 2.5rem;
        color:var(--pink);
        font-weight: bolder;
        padding-top: 1rem;

      }

      .products .box-container .box .content .price span{
        font-size: 1.5rem;
        color: #999;
        font-weight: lighter;
        text-decoration: line-through;

      }

        .contact .row{
          display: flex;
          flex-wrap: wrap;
          gap:1.5rem;   
        }

        .contact .row form{
          flex:1 1 40rem;
          padding:2rem 2.5rem;
          box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
          border:.1rem solid rgba(0,0,0.1);
          background-color: #fff;
          border-radius: .5rem;
        }

        
        .contact .row form .box{
          padding: 1rem;
          font-size: 1.7rem;
          color:#333;
          text-transform: none;
          border: .1rem solid rgba(0,0,0,.1);
          border-radius: .5rem;
          margin: .7rem 0;
        }

        .contact .row form .box:focus{
          border-color: var(--pink); 
        }

        .contact .row form textarea{
          height: 15rem;
          resize: none;

           
        }

        .modal {
          display: none;
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0,0,0,0.4);
        }
    
        /* Modal Content/Box */
        .modal-content {
          background-color: #fefefe;
          margin: 15% auto;
          padding: 20px;
          border: 1px solid #888;
          width: 60%;
        }

        .close {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }
    
        .close:hover,
        .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }

        input[name="username"], input[type="password"] {
          width: 50%;
          padding: 10px;
          margin-top: 5px;
          margin-bottom: 15px;
          border: 1px solid #ccc;
          border-radius: 3px;
      }

      .register {
        background-color:  black;
        text-align: center; 
        padding: 10px;
        border-radius: 10px;
        font-size: 1.0em;
        color: white;
      }

      footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #e3c0d8;
        padding: 40px;
      }

      footer .col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
      }

      footer h4 {
        font-size: 14px;
        padding-bottom: 20px;
      }

      footer p {
        font-size: 13px;
        margin: 0 0 8px 0;
      }

      footer a {
        font-size: 13px;
        text-decoration: none;
        color: #333;
        margin-bottom: 10px;
      }

      footer .follow .i:hover,
      footer a:hover {
        color: #e84393;
      }

      footer .copyright {
        width: 100%;
        text-align: center;
      }


      /* product pagina content  */

      .product-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        margin-top: 60px;
    }
    .product-image {
        flex: 2;
        position: relative;
        left: 200px;
        top: 70px;
    }
    .product-image img {
        width: 50%;
        max-width: 50%;
        height: auto;
    }
    .product-info {
        flex: 1;
        padding: 20px;
        position: relative;
        right: 200px;
    }
    .product-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .product-price {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .product-description {
        margin-bottom: 20px;
    }
    .add-to-cart-button, .buy-now-button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    .add-to-cart-button:hover, .buy-now-button:hover {
    color: black;
  }